[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim.git
[submodule "script/tools/pngquant"]
	path = script/tools/pngquant
	url = git://github.com/pornel/pngquant.git
